.alert {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;

    > ul {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin alert-color($color: $grey) {
    background-color: lighten($color, 30%);
    $bd-color: darken($color, 30%);
    border-color: $bd-color;
    color: $bd-color;
}

.alert-danger {
    @extend .alert;
    @include alert-color($red);
}

.alert-success {
    @extend .alert;
    @include alert-color($green);
}

.alert-info {
    @extend .alert;
    @include alert-color($blue);
}
