.nav-menu {
    a {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
        font-weight: 400;
    }
}

.nav-user {
    @extend .nav-menu;
    display: flex;
    justify-content: flex-end;
}

.main-nav {
    @extend .nav-menu;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
