.post {
    margin-bottom: 1.5rem;

    .post-title {
        margin-bottom: 0;

        a {
            color: #222;
            text-decoration: none;

            &:hover {
                color: $indigo;
            }
        }
    }

    .post-meta {
        font-size: 0.8rem;
        color: lighten($text-color, 30%);
        margin-top: 0;
    }
}
