.post {
    margin-bottom: 0.5rem;

    .post-title {
        margin-bottom: 0;

        a {
            color: #222;
            text-decoration: none;

            &:hover {
                color: $indigo;
            }
        }
    }

    .post-meta {
        font-size: 0.8rem;
        color: lighten($text-color, 30%);
        margin-top: 0;
    }

    .post-body {
        white-space: pre-line;
    }
}

.post-footer {
    margin-bottom: 1.5rem;
}
