// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html {
    font-size: 20px;
}

body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $body-bg;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;

    &:first-child {
        margin-top: 0;
    }
}

hr {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header {
    margin-bottom: 2rem;
}

.main-heading {
    font-size: 3em;
    text-align: center;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.heading-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

@import "nav";
@import "forms";
@import "alerts";
@import "posts";
